.heading {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #7fd850;
    color: white;
    
}

.mainhead {
    font-size: 67px;
}

.secondhead {
    text-align: top;
    font-size: 18px;
}

body {
    background-color: #26520a;

}

.navbar {
    justify-content: flex-end;
    background-color: #7fd850;
}