.heading {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #7fd850;
    color: white;
    
}

.mainhead {
    font-size: 67px;
}

.secondhead {
    text-align: top;
    font-size: 18px;
}

body {
    background-color: #26520a;

}

.navbar {
    justify-content: flex-end;
    background-color: #7fd850;
}

.signinsheet {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}

.imagegrid {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.tutorimg {
    text-align: center;
}

.tutorimg img {
    width: 100%;
    max-width: 250px;   /* controls image size */
    height: auto;
    display: block;
    margin: 0 auto;     /* centers image */
}