<!DOCTYPE html> 
<body>

    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    


    </div>


    <div class="navbar">
        <a href="{{ url_for('HomePage')}}">Home</a>
        <a href="{{ url_for('Resources')}}">Resources</a>

        

    </div>
    <div class="booking">

        <div>
            <img src="{{ url_for('static', filename='images/' + tutor_info[5]) }}" alt="Tutor Image">
        </div>

        <form method="POST">
        <h3>Available time slot:</h3>

        {% for slot in timeslots %}
            <label>
                <input type="radio" name="timeslot" value="{{ slot[0] }}">
                {{ slot[1] }}: {{ slot[2] }}
            </label>
            <br>
        {% endfor %}

        <br>
        <h3>Select your subject:</h3>

        {% for subject in subjects %}
            <label>
                <input type="radio" name="subject" value="{{ subject[0] }}">
                {{ subject[0] }}
            </label>
        {% endfor %}

        <br>

        <label for="message">Extra notes:</label><br>
        <textarea name="message" id="message" rows="4" cols="40" placeholder="Write a message to your tutor."></textarea>
        <br>
        
        <button type="submit">Book</button>
        </form>  
        <br>
        <br>
        <a href="{{ url_for('TutorPage')}}">Go Back</a>

    </div>


    <div>
        


        

    </div>


</body>
