<!DOCTYPE html> 
<body>

    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    


    </div>


    <div class="navbar">
        <a href="{{ url_for('HomePage')}}">Home</a>
        <a href="{{ url_for('Resources')}}">Resources</a>

        

    </div>


    <div>
        <h2>My Bookings</h2>
<h2>Your Scheduled Lessons</h2>
<ul>
    {% for booking in dash_info %}
        <li>
            <strong>Subject:</strong> {{ booking['subject_name'] }} | 
            <strong>Tutor:</strong> {{ booking['tutor_name'] }} | 
            <strong>Time:</strong> {{ booking['time'] }}
        </li>
    {% else %}
        <li>No bookings found.</li>
    {% endfor %}
</ul>
    </div>


</body>
