<!DOCTYPE html> 
<body>
    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    </div>


    <div class="navbar">
        <a href="{{ url_for('HomePage')}}">Home</a>
        <a href="{{ url_for('Resources')}}">Resources</a>
    </div>

    <p>
    Welcome to the Ako Connect website. Feel free to navigate this website and look at the resources we provide.
    </p>

    <p>
        Listed below are the names of the tutors that offer their own time to help you with your studies.
    </p>

    <div class="imagegrid">
        
        
        </a>
    </div>  
    <a href="{{ url_for('Booking')}}">
    <button>Begin Booking</button>
</a>
    </div>


</body>
