<!DOCTYPE html> 
<body>
    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    </div>


    <div class="navbar">
        <a href="{{ url_for('HomePage')}}">Home</a>
        <a href="{{ url_for('Resources')}}">Resources</a>
        <a href="{{ url_for('BookingInfo')}}">Bookings</a>
        
    </form>
    </div>
        <a href="{{ url_for('logout') }}">
        <button type="submit" class="logout_button">Logout</button>
        </a>
    <p>

    <div class="textcenter">
    <h2>Who are we?</h2>
    <p>Ako Connect is a student led initiative that was established in 2025, which included students who were high achievers academically, <br> attaining an Excellence endorsement in Level 1 NCEA.</p>
    <p>This group of students from the cohort of 2027, recognised a problem within the school - students did not want to study. <br> However, for the students who did want to study, we found that many struggled due to the inability to easily find resources, <br> such as past papers, or other material that they needed to learn.</p>
    <p>We here at Ako Connect believe that if we are able to fix this problem, <br> create a hub where students can find resources for their studies easily, offering personal help to students such as tutoring, <br>we will able to increase the amount of students who want to study, and increase their overall grades.</p>
    <p>On this site, you will be able to find helpful websites and youtube videos that many students have reported to be very beneficial with their studies. <br> Another key feature of this site is the ability to book 1-on-1 tutoring sessions with senior students. <br> These students are high achieving academically, and have given up their time to offer tutoring to other students. <br> We also believe that having student tutors as opposed to adults will incentivise more students to ask for help, as they may feel more comfortable with fellow students.</p>
        <br>
    <p>Feel free to navigate this website and utilise the resources we have for you.</p>
    <p>This website is currently in early development.</p>


</div>


    

 
    
    </div>


</body>
