<!DOCTYPE html> 
<body>

    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    


    </div>


    <div class="navbar">
        

        

    </div>


    <div>
        <input type="text" placeholder = "Enter full name" name="name" required>
        <input type="email" placeholder ="Enter gmail" name="email" required>
        <input type="email" placeholder ="Enter year Level" name="year_level" required>
        <input type="email" placeholder ="Enter username" name="username" required>
        <input type="password" placeholder="Enter password" name="password" required>
        <button type="submit">Sign Up</button>
    </div>


</body>
