<!DOCTYPE html> 
<body>

    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    


    </div>


    <div class="navbar">
        <a href="{{ url_for('HomePage')}}">Home</a>
        <a href="{{ url_for('Resources')}}">Resources</a>
        <a href="{{ url_for('BookingInfo')}}">Bookings</a>

    </div>


    <div class="textcenter">
    <h1>Resources</h1>
    <p>In this page you will be able to find links to past papers, youtube videos, and other resources we have collated for you to ues in your studies.</p>
    <p>Feel free to look through the resources and use them for your studies.</p>
    <h3>Good luck and have fun studying!</h3>
    </div>

    <div class="textleft">
        <h2>Helpful Websites:</h2>
        <h3>Ourexams.org</h3>
        <p>ourexams.org is a student made website that was made by a group of students from Nayland college.   </p>
        <p>Here you can find many past papers collated in one area.</p>
        <p>To use, search up the subject or assessment number you are looking for, and you can download the past 10 years past papers in one click.</p>
        <p>Use this for studying and revising past exam questions, with the convenience of it all being in one spot.    </p>
        <img src="static/images/ourexams.org.jpg" class="ourexamsimg">
        <a href="https://www.ourexams.org/" target="_blank" class="textleft">Click this link to visit ourexams.org</a>
    </div>

    <br>

    <div class="textleft">
        <h3>No Brain Too Small</h3>
        <p>No Brain Too Small, also known as NB2S or NBTS, is a website that is made purely for learning science</p>
        <p>This website contains an abundance of information regarding NCEA Biology, Chemistry, Physics, and General Science.</p>
        <p>This is a very helpful place to learn, for notes, and to find past papers to revise.</p>
        <img src="static/images/nb2simg.jpg" class="nb2simg">
        <a href="https://www.nobraintoosmall.co.nz/" target="_blank" class="textleft">Click this link to visit No Brain Too Small</a>


    </div>






</body>
