<body>

    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    


    </div> 

    <div class="navbar">

        
    </div>

    <div class="signinsheet">
        <input type="text" placeholder = "Enter username" name="name" required>
        <input type="email" placeholder ="Enter mail" name="email" required>
        <input type="password" placeholder="Enter password" name="password" required>
        <button type="submit">Sign in</button>
    </div>


</body>