<!DOCTYPE html> 
<body>
    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    


    </div>


    <div class="navbar">
        <a href="{{ url_for('HomePage')}}">Home</a>
        <a href="{{ url_for('Resources')}}">Resources</a>

        

    </div>


    <div>

    <form action="/bookingpage" method="GET">

    <label>Choose a Tutor:</label>

    <select name="choice">
        <option value="1">Kevin</option>
        <option value="2">Meng</option>
    </select>

    <button type="submit">Select Tutor</button>

</form>



</div>



</body>
