<!DOCTYPE html> 
<body>
    <link rel="stylesheet" href="static/style.css">

    <Title>Ako Island Registry</Title>
    <div class="heading">
    <h1 class="mainhead">Ako Connect</h1>
    <h2 class="secondhead">Connecting students since 2025</h2>  
    


    </div>


    <div class="navbar">
        <a href="{{ url_for('HomePage')}}">Home</a>
        <a href="{{ url_for('Resources')}}">Resources</a>

        

    </div>


    <div>

        <h1>Profile for {{ name }}</h1>
        <p>{{ bio }}</p>


    </div>


</body>
